@startuml
skinparam dpi 200

package kr.hossam.myshop.controllers {
    class ControllerA {
        +ControllerA(param1: Type1)
        +method1(param2: Type2): ReturnType1
    }

    class ControllerB {
        +ControllerB(param1: Type1)
        +method2(param2: Type2): ReturnType2
    }

    class ControllerC {
        +ControllerC(param1: Type1)
        +method3(param2: Type2): ReturnType3
    }

    ControllerA --|> ControllerB : IsA
    ControllerB --> ControllerC : HasA
}

@enduml