<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{_fragments/_head :: my-head('MyShop')}" />
    <link rel="stylesheet" th:href="@{/assets/css/account.css}">
</head>
<body>
    <div>
        <h1 style="font-size: 20px; font-weight: bold">확인 팝업 테스트</h1>
        <hr />
        <button id="btn1" class="btn">Alert1</button>
        <button id="btn2" class="btn">Alert2</button>
        <button id="btn3" class="btn">Alert3</button>
        <button id="btn4" class="btn">Alert4</button>
        <button id="btn5" class="btn">Alert5</button>

        <h1 style="font-size: 20px; font-weight: bold; margin-top: 15px">컨펌 팝업 테스트</h1>
        <hr />
        <button id="btn6" class="btn">Confirm1</button>
        <button id="btn7" class="btn">Confirm2</button>
        <button id="btn8" class="btn">Confirm3</button>
        <button id="btn9" class="btn">Confirm4</button>
        <button id="btn10" class="btn">Confirm5</button>
    </div>

    <th:block th:replace="~{_fragments/_scripts :: my-scripts}" />

    <script>
        document.getElementById('btn1').addEventListener('click', async function() {
            const result = await utilHelper.alertPrimary('알림', '이것은 알림 메시지입니다.', '확인');
            console.log(result);
        });

        document.getElementById('btn2').addEventListener('click', async function() {
            const result = await utilHelper.alertSuccess('확인', '이것은 확인 메시지입니다.', '네', '아니오');
            console.log(result);
        });

        document.getElementById('btn3').addEventListener('click', async function() {
            const result = await utilHelper.alertDanger('입력', '이것은 입력 메시지입니다.', '기본값');
            console.log(result);
        });

        document.getElementById('btn4').addEventListener('click', async function() {
            const result = await utilHelper.alertWarning('입력', '이것은 입력 메시지입니다.', '기본값');
            console.log(result);
        });

        document.getElementById('btn5').addEventListener('click', async function() {
            const result = await utilHelper.alertInfo('입력', '이것은 입력 메시지입니다.', '기본값');
            console.log(result);
        });

        document.getElementById('btn6').addEventListener('click', async function() {
            const result = await utilHelper.confirmPrimary('입력', '이것은 확인 메시지입니다.', "확인", "취소");
            console.log(result);
        });

        document.getElementById('btn7').addEventListener('click', async function() {
            const result = await utilHelper.confirmSuccess('입력', '이것은 확인 메시지입니다.', "확인", "취소");
            console.log(result);
        });

        document.getElementById('btn8').addEventListener('click', async function() {
            const result = await utilHelper.confirmDanger('입력', '이것은 확인 메시지입니다.', "확인", "취소");
            console.log(result);
        });

        document.getElementById('btn9').addEventListener('click', async function() {
            const result = await utilHelper.confirmWarning('입력', '이것은 확인 메시지입니다.', "확인", "취소");
            console.log(result);
        });

        document.getElementById('btn10').addEventListener('click', async function() {
            const result = await utilHelper.confirmInfo('입력', '이것은 확인 메시지입니다.', "확인", "취소");
            console.log(result);
        });
    </script>
</body>
</html>